*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
    display: flex;
}

li{
    color: #fff;
    padding: 0 5px;
}

a{
    text-decoration: none;
    color: #fff;
}

main{
    margin-top: 100px;
}

/* header */
header{
    width: 100%;
    background-color: #ff6900;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

}

header nav{
    width: 80%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 130px;
    height: 35px;
}

/* corpo centrale */
section{
    width: 80%;
    margin: auto;
}

/* footer */
footer{
    max-width: 100%;
    background-color: #1a1a1a;
}

footer nav{
    width: 80%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

nav h4{
    color: #fff;
}

footer h3,h4{
    padding-bottom: 10px;
}

/* DEBUG */
/* header{
    height: 100px;
    background-color: orange;
} */

section{
    height: 250px;
    background-color: aqua;
}

/* footer{
    height: 180px;
    background-color: blue;
} */
