*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
    display: flex;
}

li{
    color: #fff;
    padding: 0 5px;
}

a{
    text-decoration: none;
    color: #fff;
}

/* header */
header{
    width: 100%;
    background-color: #ff6900;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

}

header nav{
    width: 80%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 130px;
    height: 35px;
}

/* corpo centrale */
main{
    margin-top: 100px;
    margin-bottom: 30px;
}

section{
    width: 80%;
    margin: auto;
}

.row{
}

article{
    cursor: pointer;
}


/* card */
.card{
    width: calc(100% / 3);
    position: relative;
}

.main-image{
    width: 100%;
}

.secondary-image{
    display: none;
    width: 100%;
}

.heart{
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 30px;
    padding: 5px 15px;
    background-color: #fff;
}

.heart:hover{
    color: red;
}

.lable{
    position: absolute;
    bottom: 40px;
    left: 0;
}

/* text */
.discount{
    background-color: red;
}

.sustainability{
    background-color: green;
}

.discount, .sustainability{
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
}

.mark{
    font-size: 12px;
}

.price{
    color: red;
}

.original-price{
    text-decoration: line-through;
}

.text span{
    font-size: 12px;
}

/* footer */
footer{
    max-width: 100%;
    background-color: #1a1a1a;
}

footer nav{
    width: 80%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

nav h4{
    color: #fff;
}

footer h3, footer h4{
    padding-bottom: 10px;
}

/* DEBUG */
/* header{
    height: 100px;
    background-color: orange;
} */

/* section{
    height: 250px;
    background-color: aqua;
} */

/* footer{
    height: 180px;
    background-color: blue;
} */
